.user_counter_box {
    display: block;
    width: 100%;
    margin: o auto;
    text-align: center;
}

.user_number_box {
    margin-top: 26px;
    margin-bottom: 26px;
}

.user_count {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    color: #EBD8FF;
}

.user_count:first-child {
    margin-bottom: 16px;
}

.user_counter_btn {
    width: 196px;
    height: 50px;
    border-radius: 10.31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #373737;
    padding: 14px 28px;
    border:none;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}